<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="conn" providerName="Microsoft.Data.SqlClient"  connectionString="Server=SARAHSMONSTER;Database=GourmetShop;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True;" />
	</connectionStrings>
</configuration>